// color
$color-primary: #2EB738;
$color-darkGray: #D8D8D8;
$color-lightGray: #F0F0F0;
$color-white: #FFFFFF;

body, html {
    background-color: $color-lightGray!important;
}
h1, h2, h3, h4 { color: $color-primary }
.ch-title { font-size: 56px; }
.en-title { font-size: 24px; }

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    margin-top: 80px;
    margin-bottom: 80px;
    &-title {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &-cell {
        display: flex;
        align-items: flex-end;
        text-align: center;
        color: $color-primary;
        font-size: 24px;
        background-color: $color-white;
        padding: 40px;
        border-radius: 100px 0 100px 0;
        box-shadow: 0 3px 10px #D8D8D8;
        &-left, &-right {
            flex: 0 0 50%;
            .title {
                font-weight: 700;
                font-size: 100px;
                line-height: 126px;
                text-shadow: 2px 2px 0 $color-white, 4px 4px 0 $color-lightGray;
            }
        }
    }
}
.line {
    height: 1px;
    width: 100%;
    background-color: $color-primary;
    color: $color-primary;
    position: relative;
    &::before, &::after{
        content: '×';
        display: inline-block;
        background-color: $color-lightGray;
        position: absolute;
        width: 24px;
        height: 24px;
        top: 50%;
        text-align: center;
        transform: translateY(-50%);
    }
    &::before {
        left: 0;
    }
    &::after {
        right: 0;
    }
}